# Temp bin files
coolc/assignments/*/cgen
coolc/assignments/*/lexer
coolc/assignments/*/mycoolc
coolc/assignments/*/parser
coolc/assignments/*/myparser
coolc/assignments/*/semant
coolc/assignments/*/mysemant
coolc/assignments/*/symtab_example

# Temp object files, sources and symlinks
coolc/assignments/*/*.a
coolc/assignments/*/*.s
coolc/assignments/*/*.d
coolc/assignments/*/*.o
coolc/assignments/*/*.cc
coolc/assignments/*/*.h 
coolc/assignments/*/*.y
coolc/assignments/*/*.aps
coolc/assignments/*/*.output

# Important files to PA3
!coolc/assignments/PA3/cool-tree.handcode.h
!coolc/assignments/PA3/cool.y

# Important files to PA5
!coolc/assignments/PA5/cgen.cc
!coolc/assignments/PA5/cgen.h
!coolc/assignments/PA5/cgen_supp.cc
!coolc/assignments/PA5/emit.h
!coolc/assignments/PA5/symtab.h
!coolc/assignments/PA5/cool.h
!coolc/assignments/PA5/stringtab.h
!coolc/assignments/PA5/dumptype.cc
!coolc/assignments/PA5/cool-tree.h